@model RsokProject.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seminarski rad - RSOK</title>
    <!-- referenca za css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")">


    <!-- referenca za font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- referenca za jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- referenca za font ikonica -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav>
            <!--Vracanje na pocetnu stranicu-->
            <a href="@Url.Action("Back", "Account")">&lt;Nazad</a>
        </nav>
    </header>
    <section>
        <div class="naslov-login">
            <h1>Uloguj se</h1>
        </div>

        <div class="login-sec">
            @using (Html.BeginForm("Login", "Account"))
            {
                <!--Metoda ValidationSummary() prikazuje rezime svih grešaka validacije na veb stranici kao neuređeni element liste-->
                <div style="color:red;">@Html.ValidationSummary()</div>
                <!--ViewBag.Message omogućava dinamičko deljenje vrednosti u prikazu iz kontrolera-->
                <div class="row">
                    <div class="col-lg-12">@ViewBag.Message</div>
                </div><br />
                <!--Prikaz labela i tekst boksova za unos imena i lozinke-->
                <div class="row">
                    <div class="col-lg-2">@Html.LabelFor(a => a.ime)</div>
                    <div class="col-lg-10">@Html.TextBoxFor(a => a.ime, new { @class = "form-control" })</div>
                </div><br />
                <div class="row">
                    <div class="col-lg-2">@Html.LabelFor(a => a.lozinka)</div>
                    <div class="col-lg-10">@Html.TextBoxFor(a => a.lozinka, new { @class = "form-control", type = "Password" })</div>
                </div><br />
                <input type="submit" value="Login" class="btn-btn-primary">
            }

        </div>
    </section>
</body>
</html>